<script>

	import { goto } from '$app/navigation';

	import Form from '$lib/components/Form.svelte';
	import { isAuthenticated, flash } from '$lib/stores';


	let old_password = '';
	let new_password1 = '';
	let new_password2 = '';
	let showError = false;


	const changeUserPassword = async () => {
		event.preventDefault();
		const access_token = localStorage.getItem('access_token');
		const response = await fetch('https://hardetak-server.onrender.com/auth/password/change/', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				Authorization: `Bearer ${access_token}`
			},
			body: JSON.stringify({old_password, new_password1, new_password2})
		});

		if (response.ok) {
			console.log('password has been changed successfully');
			localStorage.removeItem('access_token');
			localStorage.removeItem('refresh_token');
			isAuthenticated.set(false);
			flash.set('Awesome, your password has been changed successfully! Please log in again.')
			goto('/login');
		} else {
			showError = response.status === 400;
			console.log('invalid request, please try again');
		}
	}

</script>

<Form>
	<div slot="form">
		<form on:submit={changeUserPassword}>
			<div class="change-container-head">
				<h2> Change password </h2>
				<p> Set a new and strong password </p>
			</div>
			{#if showError}
				<div class="error-message">
					<p>
						Change password failed. It may be because the old password is incorrect or two password field didn't match, Please check your inputs and try again.
					</p>
				</div>
			{/if}
			<div class="change-container-body">
				<input type="password" name="old_password" placeholder="Old pasword" bind:value={old_password}>
				<input type="password" name="new_password1" placeholder="New password" bind:value={new_password1}>
				<input type="password" name="new_password2" placeholder="Confirm new password" bind:value={new_password2}>
				<div class="submit-btn">
					<button type="submit"> Change password </button>
				</div>
			</div>
		</form>
	</div>
</Form>

<style>

	.change-container-head {
		text-align: center;
	}

	.change-container-head h2 {
		color: #222;
		font-weight: 500;
	}

	.change-container-head p {
		font-size: 17px;
		font-weight: 400;
		margin-top: -5px;
	}

	form .error-message {
		border: 1px solid #FA0004;
		border-radius: 7px;
		padding: 0px 15px;
		text-align: justify;
		background-color: #FFF;
		color: #FA0004;
		font-size: 13px;
		font-weight: 500;
	}

	.change-container-body {
		margin-top: 30px;
	}

	.change-container-body input {
		display: block;
		width: 100%;
		height: 40px;
		border: 1px solid #D9D9D9;
		border-radius: 7px;
		margin-bottom: 15px;
		padding: 25px 20px;
		font-size: 15px;
	}

	.change-container-body .submit-btn {
		margin-top: 25px;
	}

	.change-container-body button {
		width: 100%;
		font-size: 20px;
		padding: 15px 20px;
		border-style: none;
		border-radius: 7px;
		background-color: #222;
		color: #FFF;
		cursor: pointer;
	}

</style>