<script>
	import Header from '$lib/components/Header.svelte';
	import './styles.css';
</script>


<main>
	<slot></slot>
</main>

<footer>
	<p> &copy; {new Date().getFullYear()} Hardetak </p>
</footer>


<style>

	main {
		min-height: calc(100vh - 50px);
	}

	footer {
		background-color: #222;
		color: #FFF;
		height: 40px;
		padding: 10px 80px;
		margin-top: 100px;
	}

	footer p {
		text-align: right;
	}

	@media(max-width: 480px) {
		footer p {
			text-align: center;
		}
	}

</style>
