<script>
	import Header from '$lib/components/Header.svelte';
	import {GITLAB} from '$lib/icons/svgPaths.js';
</script>


<Header>
	<div slot="nav-items">
		<a class="item" href='https://gitlab.com/rochdikhalid/hardetak' target="_blank">
			<svg xmlns="http://www.w3.org/2000/svg" fill="#222" viewBox="0 -1 26 26" width="20" height="20" style="vertical-align: middle; margin-right: 5px;">
				<path class="svg-path" d={GITLAB} />
			</svg>
			Contribute
		</a>
	</div>
</Header>

<div class="landing-main">
	<div class="main-title">
		<h1> Effective way to create <br>promising tasks </h1>
	</div>
	<div class="main-description">
		<p>
			Hardetak allows you to manage your tasks easily. You can prioritize tasks 
			by urgency and importance, and categorize them for easy organization. Ready?
		</p>
	</div>
	<div class="main-buttons">
		<a href="/register"><button class="get-started-btn">Get started</button></a>
		<a href="/login"><button class="login-btn">Log in</button></a>
	</div>
</div>

<style>

	.landing-main {
		width: 500px;
		margin: 0 auto;
		margin-top: 70px;
	}

	.landing-main .main-title h1 {
		text-align: center;
		font-size: 40px;
		font-weight: 400;
	}

	.landing-main .main-description {
		margin-top: 35px;
	}

	.landing-main .main-description p {
		font-size: 20px;
		text-align: justify;
	}

	.landing-main .main-buttons {
		margin-top: 35px;
		text-align: center;
	}

	.landing-main .main-buttons button {
		width: 30%;
		font-size: 20px;
		padding: 15px 20px;
		border-style: none;
		border-radius: 7px;
		cursor: pointer;
	}

	.landing-main .main-buttons .get-started-btn {
		background-color: #222;
		color: #FFF;
		margin-right: 25px;
	}

	.landing-main .main-buttons .login-btn {
		background-color: #F5F5F5;
		color: #222;
		border: 1px solid #222;
	}

	@media(max-width: 480px) {
		.landing-main {
			width: 100%;
			margin-top: 50px;
		}

		.landing-main .main-title h1 {
			font-size: 30px;
		}

		.landing-main .main-description {
			padding: 0 15px;
			margin-top: 0px;
		}

		.landing-main .main-description p {
			font-size: 17px;
		}

		.landing-main .main-buttons {
			margin-bottom: 50px;
		}

		.landing-main .main-buttons button {
			width: 25%;
			font-size: 13px;
			padding: 15px 10px;
		}

	}

</style>
