body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #222;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

input {
	box-sizing: border-box;
}