<script>

	import { goto } from '$app/navigation';

	import Header from '$lib/components/Header.svelte';
	import Form from '$lib/components/Form.svelte';
	import { flash } from '$lib/stores';


	let username = '';
	let email = '';
	let password1 = '';
	// Update the password2 whenever the password1 changes
	$: password2 = password1;
	let showError = false;
	

	const handleRegister = async(event) => {
		event.preventDefault();
		const response = await fetch('https://hardetak-server.onrender.com/auth/register/', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({username, email, password1, password2})
		})

		if (response.ok) {
			console.log('new account has been created');
			flash.set('Registration successful! Please log in.')
			goto('/login');
		} else {
			showError = response.status === 400;
			console.log('invalid request, please try again');
		}
	}
	
</script>


<Header>
	<div slot="nav-items">
		<a class="item" href="/login"> Have an account? </a>
	</div>
</Header>

<Form>
	<div slot="form">
		<form on:submit={handleRegister}>
			<div class="register-container-head">
				<h2> Welcome </h2>
				<p> Create an account </p>
			</div>
			{#if showError}
				<div class="error-message">
					<p>
						Registration failed. Please check your inputs and try again. If the problem persists, 
						it may be because the username or email address is already registered. Please try a different one.
					</p>
				</div>
			{/if}
			<div class="register-container-body">
				<input type="email" name="email" placeholder="Email address" bind:value={email}>
				<input type="text" name="username" placeholder="Username" bind:value={username}>
				<input type="password" name="password" placeholder="Password" bind:value={password1}>
				<div class="submit-btn">
					<button type="submit"> Register </button>
				</div>
			</div>
		</form>
	</div>
</Form>

<style>

	.register-container-head {
		text-align: center;
	}

	.register-container-head h2 {
		color: #222;
		font-weight: 500;
	}

	.register-container-head p {
		font-size: 17px;
		font-weight: 400;
		margin-top: -5px;
	}

	form .error-message {
		border: 1px solid #FA0004;
		border-radius: 7px;
		padding: 0px 15px;
		text-align: justify;
		background-color: #FFF;
		color: #FA0004;
		font-size: 13px;
		font-weight: 500;
	}

	.register-container-body {
		margin-top: 30px;
	}

	.register-container-body input {
		display: block;
		width: 100%;
		height: 40px;
		border: 1px solid #D9D9D9;
		border-radius: 7px;
		margin-bottom: 15px;
		padding: 25px 20px;
		font-size: 15px;
	}

	.register-container-body .submit-btn {
		margin-top: 25px;
	}

	.register-container-body button {
		width: 100%;
		font-size: 20px;
		padding: 15px 20px;
		border-style: none;
		border-radius: 7px;
		background-color: #222;
		color: #FFF;
		cursor: pointer;
	}

</style>