<script>

	import { goto } from '$app/navigation';
	import { onDestroy } from 'svelte';

	import Header from '$lib/components/Header.svelte';
	import Form from '$lib/components/Form.svelte';
	import { flash, isAuthenticated } from '$lib/stores';
	

	let email = '';
	let password = '';
	let showError = false;
	let message;
	

	const handleLogin = async(event) => {
		event.preventDefault();
		const response = await fetch('https://hardetak-server.onrender.com/auth/login/', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			credentials: 'include',
			body: JSON.stringify({email, password})
		});

		if (response.ok) {
			const { access_token, refresh_token } = await response.json();
			localStorage.setItem('access_token', access_token);
			localStorage.setItem('refresh_token', refresh_token);
			isAuthenticated.set(true);
			console.log('user is authenticated successfully');
			goto('/home');
		} else {
			showError = response.status === 400;
			console.log('invalid email or password, please try again');
		}
	};
	// Subscribe to the flash store and update the "message" variable
	// with its current value
	const unsubscribe = flash.subscribe(value => {
		message = value;
	});
	// Unsubscribe from the store when the component is destroyed
	onDestroy(unsubscribe);

</script>


<Header>
	<div slot="nav-items">
		<a class="item" href="/register"> Need an account? </a>
	</div>
</Header>

<Form>
	<div slot="form">
		<form on:submit={handleLogin}>
			<div class="login-container-head">
				<h2> Welcome back </h2>
				<p> So excited to see you again </p>
			</div>
			{#if message}
				<div class="flash-message">
					{message}
				</div>
			{/if}
			{#if showError}
				<div class="error-message">
					<p>
						Invalid email or password. Please make sure you have entered the correct 
						credentials and try again.
					</p>
				</div>
			{/if}
			<div class="login-container-body">
				<input type="email" name="email" placeholder="Email address" bind:value={email}>
				<input type="password" name="password" placeholder="Password" bind:value={password}>
				<div class="forgot-password">
					<a href="/reset-password"><small>Forgot password?</small></a>
				</div>
				<div class="submit-btn">
					<button type="submit"> Log in </button>
				</div>
			</div>
		</form>
	</div>
</Form>

<style>

	.login-container-head {
		text-align: center;
	}

	.login-container-head h2 {
		color: #222;
		font-weight: 500;
	}

	.login-container-head p {
		font-size: 17px;
		font-weight: 400;
		margin-top: -5px;
	}

	form .error-message {
		border: 1px solid #FA0004;
		border-radius: 7px;
		padding: 0px 15px;
		text-align: justify;
		background-color: #FFF;
		color: #FA0004;
		font-size: 13px;
		font-weight: 500;
	}

	form .flash-message {
		border: 1px solid #04A52A;
		border-radius: 7px;
		padding: 15px 15px;
		text-align: justify;
		background-color: #FFF;
		color: #04A52A;
		font-size: 13px;
		font-weight: 500;	
	}

	.login-container-body {
		margin-top: 30px;
	}

	.login-container-body input {
		display: block;
		width: 100%;
		height: 40px;
		border: 1px solid #D9D9D9;
		border-radius: 7px;
		margin-bottom: 15px;
		padding: 25px 20px;
		font-size: 15px;
	}

	.login-container-body .forgot-password a {
		color: #444;
		font-size: 15px;
	}

	.login-container-body .forgot-password a:hover {
		color: #222;
		text-decoration: underline;
	}

	.login-container-body .submit-btn {
		margin-top: 25px;
	}

	.login-container-body button {
		width: 100%;
		font-size: 20px;
		padding: 15px 20px;
		border-style: none;
		border-radius: 7px;
		background-color: #222;
		color: #FFF;
		cursor: pointer;
	}

</style>