<script>

	import { onMount } from 'svelte';
	
	import Header from '$lib/components/Header.svelte';
	import { DOWN_ARROW } from '$lib/icons/svgPaths.js';
	import { isAuthenticated } from '$lib/stores';


	let username;


	function toggleDropdown() {
		let dropdownMenu = document.getElementById('dropdown-menu');
		if (dropdownMenu.style.display === 'block') {
			dropdownMenu.style.display = 'none';
		} else {
			dropdownMenu.style.display = 'block';
		}
	}

    onMount(async () => {
        const access_token = localStorage.getItem('access_token');
        const headers = {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${access_token}`
        };
        const response = await fetch('https://hardetak-server.onrender.com/auth/user/', { headers });

        if (response.ok) {
            const data = await response.json();
            username = data.username;
        } else {
        	console.error('Error getting the username: ', response.statusText)
        }
    });

	const handleLogout = async () => {
		const access_token = localStorage.getItem('access_token');
		const headers = {
			'Content-Type': 'application/json',
			Authorization: `Bearer ${access_token}`
		};

		const response = await fetch('https://hardetak-server.onrender.com/auth/logout/', {
			method: 'POST',
			headers
		});

		if (response.ok) {
			localStorage.removeItem('access_token');
			localStorage.removeItem('refresh_token');
			isAuthenticated.set(false);
			console.log('User logged out successfully');
			// redirect the user to the login page
			location.href = '/login';
		} else {
			console.error('Error logging out: ', response.statusText);
		}
	};

</script>


<Header>
	<div slot="nav-items">
		<a class="item" href="" on:click={toggleDropdown}>
			{username}
			<svg xmlns="http://www.w3.org/2000/svg" fill="#222" viewBox="0 -1 26 26" width="13" height="13" style="vertical-align: middle; margin-left: 5px;">
				<path class="svg-path" d={DOWN_ARROW} />
			</svg>
		</a>
		<div id="dropdown-menu">
			<a class="dropdown-item" href="/home/change-password"> Change password </a>
			<a class="dropdown-item" on:click={handleLogout}> Logout </a>
		</div>
	</div>
</Header>

<main>
	<slot></slot>
</main>

<style>

	main {
		border-top: 1px solid #D9D9D9;
	}

	#dropdown-menu {
		right: 50px;
		margin-top: 15px;
		padding: 5px 30px;
		position: absolute;
		background-color: #FFF;
		border: 1px solid #D9D9D9;
		border-radius: 5px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		display: none;
	}

	#dropdown-menu .dropdown-item {
		font-size: 13px;
		margin: 15px 0;
		display: block;
		cursor: pointer;
	}

</style>

