<script>
    
    import { onMount } from 'svelte';
    
    import { writable } from 'svelte/store';
    import Sidebar from '$lib/components/Sidebar.svelte';
    import { FILTER, CHEVRON_DOWN, CHEVRON_UP } from '$lib/icons/svgPaths.js';



    const tasks = writable([]);

    onMount(async () => {
        const access_token = localStorage.getItem('access_token');
        const headers = {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${access_token}`
        };
        const response = await fetch('https://hardetak-server.onrender.com/tasks/', { headers });

        if (response.ok) {
            const data = await response.json();
            tasks.set(data);
        } else {
            location.href = '/login';
            return;
        }
    });

    function collapseExpand(i) {
        const pathElement = document.querySelector('.svg-path');
        let taskContent = document.getElementById(`task-content-${i}`);

        if (taskContent.style.display === 'block') {
            taskContent.style.display = 'none';
        } else {
            pathElement.setAttribute('d', CHEVRON_UP)
            taskContent.style.display = 'block';
        }
    }

</script>

<div class="grid-container">
    <div class="grid-tasks">
        <div class="tasks-head">
            <div>
                <h3> My Tasks </h3>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="#222" viewBox="0 0 16 16" width="23" height="23" style="vertical-align: middle; position: relative; left: 40px;">
                    <path class="svg-path" d={FILTER} />
                </svg>
                <input type="text" placeholder="Click here to filter ...">
            </div>
        </div>
        <div class="tasks-body">
            {#if $tasks.length}
                <ul class="accordion">
                    {#each $tasks as task, i}
                        <li on:click={() => collapseExpand(i)}>
                            <div class="data">
                                <div>
                                    <label for={`task-${i}`}> {task.title} </label>
                                </div>
                                <div>
                                    <button> {task.priority} </button>
                                    <button> {task.status} </button>
                                    <button> {task.is_urgent} </button>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#222" viewBox="0 0 16 16" width="23" height="23" style="vertical-align: middle; margin-left: 30px;">
                                        <path class="svg-path" d={CHEVRON_DOWN} />
                                    </svg>
                                </div>
                            </div>
                            <div id={`task-content-${i}`} class="content">
                                <p> {task.description} </p>
                            </div>
                        </li>
                    {/each}
                </ul>
            {:else}
                <p> No tasks found. </p>
            {/if}
        </div>
    </div>
    <div class="grid-categories">
        <Sidebar />
    </div>
</div>


<style>

    .grid-container {
        display: grid;
        grid-template-columns: 75% 25%;
        height: 100vh;
    }

    .grid-container .grid-tasks {
        border-right: 1px solid #D9D9D9;
        padding: 15px 50px;
    }

    .grid-tasks .tasks-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .grid-tasks .tasks-head h3 {
        font-weight: 500;
    }

    .tasks-head input {
        height: 35px;
        width: 350px;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        font-size: 13px;
        padding: 20px 40px;
    }

    .tasks-body .accordion {
        margin-top: 30px;
    }

    .tasks-body .accordion li {
        width: 100%;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 15px 25px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .tasks-body .accordion .data {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .tasks-body .accordion .data label {
        font-weight: 500;
        font-size: 15px;
    }

    .tasks-body .accordion .data button {
        padding: 5px 10px;
        background-color: #222;
        border: 1px solid #222;
        border-radius: 5px;
        color: #FFF;
        margin-left: 15px;
        font-weight: 500;
    }

    .tasks-body .accordion .content {
        overflow: hidden;
        display: none;
    }

</style>