<script>

	import Form from '$lib/components/Form.svelte';
	import Header from '$lib/components/Header.svelte';
	
</script>


<Header>
	<div slot="nav-items">
		<a class="item" href="/login"> Login </a>
	</div>
</Header>

<Form>
	<div slot="form">
		<form>
			<div class="reset-container-head">
				<h2> Reset your password </h2>
				<p> Enter your email address and we'll <br>send you a password reset link. </p>
			</div>
			<div class="reset-container-body">
				<input type="email" name="email" placeholder="Email address">
				<div class="submit-btn">
					<button type="submit"> Reset password </button>
				</div>
			</div>
		</form>
	</div>
</Form>

<style>

	.reset-container-head {
		text-align: center;
	}

	.reset-container-head h2 {
		color: #222;
		font-weight: 500;
	}

	.reset-container-head p {
		font-size: 17px;
		font-weight: 400;
		margin-top: -5px;
	}

	.reset-container-body {
		margin-top: 30px;
	}

	.reset-container-body input {
		display: block;
		width: 100%;
		height: 40px;
		border: 1px solid #D9D9D9;
		border-radius: 7px;
		margin-bottom: 15px;
		padding: 25px 20px;
		font-size: 15px;
	}

	.reset-container-body .submit-btn {
		margin-top: 25px;
	}

	.reset-container-body button {
		width: 100%;
		font-size: 20px;
		padding: 15px 20px;
		border-style: none;
		border-radius: 7px;
		background-color: #222;
		color: #FFF;
		cursor: pointer;
	}

</style>