<div class="form-container">
	<div>
		<slot name="form"></slot>
	</div>
</div>

<style>

	.form-container {
		width: 350px;
		margin: 0 auto;
		margin-top: 50px;
		border: 1px solid #D9D9D9;
		border-radius: 7px;
		padding: 30px 40px;
	}

	@media(max-width: 480px) {
		.form-container {
			margin-top: 10px;
			width: 270px;
			border: none;
		}
	}

</style>