<header>
	<nav>
		<div>
			<a class="logo" href="/"> Hardetak </a>
		</div>
		<div>
			<slot name="nav-items"></slot>
		</div>
	</nav>
</header>

<style>

	header {
		padding: 30px 50px;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	nav .logo {
		font-size: 23px;
		font-weight: 500;
	}

	nav > div:nth-child(2) {
		font-size: 17px;
	}

	@media(max-width: 480px) {
		nav {
			display: block;
			text-align: center;
		}
		nav > div:nth-child(2) {
			margin-top: 40px;
			padding: 20px;
		}
	}

</style>