<script>

	import { onMount } from 'svelte';
	import { writable } from 'svelte/store';
	
	import { ADD_PLUS, THREE_DOTS_VERT } from '$lib/icons/svgPaths.js';


	const categories = writable([]);

	onMount(async() => {
		const access_token = localStorage.getItem('access_token');
		const headers = {
			'Content-Type': 'application/json',
			Authorization: `Bearer ${access_token}`
		};
		const response = await fetch('https://hardetak-server.onrender.com/categories/', {headers});

		if (response.ok) {
			const data = await response.json();
			categories.set(data);
		} else {
			console.error('Error getting the username: ', response.statusText);
		}
	})

	function toggleMenu(i) {
		let categoryMenu = document.getElementById(`category-menu-${i}`);
		if (categoryMenu.style.display === 'block') {
			categoryMenu.style.display = 'none';
		} else {
			categoryMenu.style.display = 'block';
		}
	}

</script>

<div class="categories-content">
	<div class="categories-head">
		<div>
			<h3> 
				My categories 
			</h3>
		</div>
		<div>
			<svg xmlns="http://www.w3.org/2000/svg" fill="#000" viewBox="0 0 16 16" width="20" height="20" style="vertical-align: middle; cursor: pointer;">
				<path class="svg-path" d={ADD_PLUS} />
			</svg>
		</div>
	</div>
	<div class="categories-body">
		{#if $categories.length }
			<ul>
				{#each $categories as category, i}
					<div class="category-item">
						<li> {category.name} </li>
						<svg xmlns="http://www.w3.org/2000/svg" fill="#000" viewBox="0 0 16 16" width="15" height="15" style="vertical-align: middle; cursor: pointer;" on:click={() => toggleMenu(i)}>
							<path class="svg-path" d={THREE_DOTS_VERT} />
						</svg>
					</div>
					<div id={`category-menu-${i}`}>
						<a class="category-menu-item" href="#"> Edit </a>
						<a class="category-menu-item" href="#"> Delete </a>
					</div>
				{/each}
			</ul>
		{:else}
			<p> No categories found. </p>
		{/if}
	</div>
</div>

<style>

	.categories-content {
		padding: 15px 50px;
	}

	.categories-content .categories-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.categories-head h3 {
		font-weight: 500;
	}

	.categories-body .category-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.categories-body .category-item {
		padding: 10px 7px;
		border-radius: 5px;
	}

	.categories-body .category-item svg {
		display: none;
	}

	.categories-body .category-item:hover {
		background-color: #F0F0F0;
	} 

	.categories-body .category-item:hover svg {
		display: block;
	}

	.categories-body [id^="category-menu-"] {
		right: 50px;
		margin-top: 10px;
		padding: 10px 10px;
		position: absolute;
		background-color: #FFF;
		border: 1px solid #D9D9D9;
		border-radius: 5px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		display: none;
	}

	.categories-body [id^="category-menu-"] .category-menu-item {
		font-size: 11px;
		display: block;
		cursor: pointer;
		padding: 5px 10px;

	}

	.categories-body [id^="category-menu-"] .category-menu-item:hover {
		background-color: #D9D9D9;
		border-radius: 5px;
	}

	
</style>
